# Dependências
node_modules/
.npm
.pnpm
.yarn

# Ambiente
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
.build/
.serverless/
coverage/

# Configurações locais
.vscode/
.idea/

# Testes
junit.xml

# Sistema
temp/
.DS_Store